{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
    <div class="about-section">
        <h2 class="text-center mb-4">Welcome to our Career Prediction Program!</h2>
        <p class="lead">We're here to help you navigate the vast landscape of career options and discover the path
            that's right for you. Our program utilizes cutting-edge technology and sophisticated algorithms to analyze
            your strengths, preferences, and goals, providing personalized career recommendations tailored to your
            unique profile.</p>

        <p class="lead">With our program, you can explore a wide range of career paths, from software engineering to
            data science, game development to mobile app development, and beyond. Whether you're just starting your
            career journey or looking to make a change, our platform offers valuable insights and guidance to help you
            make informed decisions about your future.</p>

        <p class="lead">We understand that choosing a career can be a daunting task, which is why we're here to simplify
            the process for you. Our intuitive interface and user-friendly experience make it easy to navigate through
            your personalized career options, giving you the confidence to pursue your dreams with clarity and purpose.
        </p>

        <p class="lead">So whether you're interested in coding, analyzing data, designing games, or developing mobile
            apps, our Career Prediction Program is here to support you every step of the way. Let's embark on this
            journey together and unlock the door to your professional success!</p>
    </div>
    <footer class="footer mt-5">
        <p class="text-center">&copy; 2024 Career Prediction Program. All rights reserved.</p>
    </footer>
</div>
{% endblock %}